@(message: String)

@import helper._

@main(title = "Web Ontology Classifier/Viewer") {
    
     <h1>The Bee Genus Plesianthidium Cameron</h1>
     <p>
     The southern African bee genus Plesianthidium Cameron is revised. It comprises twelve species. 
     Two new species were described, namely Plesianthidium (Spinanthidium) richtersveldensis and 
     Plesianthidium (Spinanthidium) namaquaensis. Two species names have been removed from synonymy 
     with volkmanni; namely calvini and rufocaudatum that are here considered to be valid species. 
     Keys for the identification of the species of Plesianthidium is given.<br>
<br>
<b>Key words:</b> Afrotropical, pollinator, pollen collector, southern Africa
     
         </p>  
	    
     
    <img src="@routes.Assets.at("images/im.jpg")" alt="Bee Genus" height="538" width="538">
  <img src="@routes.Assets.at("images/b.jpg")" alt="Bee Genus" height="538" width="538">
 
  




   
    <h1>How To Use The Application:</h1>
    
   
   		<h3><i>@(message)</i></h3>
   
	   
	    <p>This application allows you to load and classify an ontology (subjected to our specific ontology modeling 'hooks')
	    and perform certain classification queries over the ontology.	    <br>
	        <br>
	  By clicking the link 'CLASSIFY and QUERY' in the menu bar, you will be directed to an upload page. Browse for your ontology 
	  and select it to upload. <br> <br> 
	  It will now classify the ontology or tell you that the file is of an incorrect format if not a .owl file. <br>
	  *Please be patient as some large ontologies may take a few minutes to classify.
	  <br>
	 <br>
	 Once classified a page will load with the ontology data. The first column will consist of the Diagnostic Features
	 and the right column will list the Elements which are associated with some diagnostic features.
	    <br> <br> 
	 Make a selection from one of the columns and click the respective Submit button to query the ontology.  
	   
	    
	    </p>
     <br> <br> <br>
    
    
    <p>Disclaimer: Please be aware that this application is still in its testing stages and can still be subject to errors.</P>
    
    
    
}