@(message: String, elements: List[String], selected: List[String], allfeatures: List[String], commonfeatures: List[String])

@import helper._

@main(title = "Web Ontology Classifier/Viewer") {
    
    <h1 id="container">List of Taxa:</h1>
      
      
      @form(action = routes.ApplicationReverse.getResults, args = 'id -> "carform") {  
      
		<select id="cars" name="cars" multiple="multiple" size="35">

		@for(index <- 0 until elements.size()){
		    
	<option value="@elements(index)" name="selected">@elements(index)</option>
		
		}
		
      
      <p class="buttons">
         
             <input type="submit">
        <p>
      
      }
       <div class="topdiv">
    	  <div class="leftelement">

	   <h1>@(message)</h1>
      
 
      
		<ul>

		@for(index <- 0 until selected.size()){
		    
		    <li>
		    	<span>@selected(index)</span>
			</li>
		
		}
		
		</ul>
		 </div>
		  <div class="middleelement">
		<h1>All Features</h1>
      
 
      
		<ul>

		@for(index <- 0 until allfeatures.size()){
		    
		    <li>
		    	<span>@allfeatures(index)</span>
			</li>
		
		}
		
		</ul>
		 </div>
		  <div class="rightelement">
		 
		<h1>Common Features</h1>
      
 
      
		<ul>

		@for(index <- 0 until commonfeatures.size()){
		    
		    <li>
		    	<span>@commonfeatures(index)</span>
			</li>
		
		}
		
		</ul>
		 </div>
		  </div>


<script>

function myFunction()
{

 //console.log("your message here");

 var InvForm = document.forms.carform;
     var arr = new Array();
    
     var x = 0;
    
     for (x=0;x<InvForm.cars.length;x++)
         {
            if(InvForm.cars[x].selected)
            {
         
             arr.push(InvForm.cars[x].value);
    	
            }
         }
   //alert(arr);
   


}

</script>
      
         
   

}