@(message: String)

@import helper._

@main(title = "Web Ontology Classifier") {
    <section class="Using">
		<div class="container">

    <h3><b>Upload Ontology:</b></h3>
    
    @form(action = routes.ApplicationBoth.uploadFile, 'enctype -> "multipart/form-data") {
   
   		<h3><i>@(message)</i></h3>   
	  <!--   <input type="file" name="ontology">	    
	    <p class="buttons">
	        <input type="submit">
	    </p> -->
 				<div class="row">
				    <div class="col-md-4">
		 			 <input class="btn btn-primary" type="file" name="ontology">
		    	 	</div>
 					<div class="col-md-1"> 
		 			<input class="btn btn-primary" type="submit" value="Submit" onclick="return loading();" />
		    		</div>

				</div>	
				
				<div id="loading" class="bs-example-bg-classes" hidden>
				<p class="bg-info">Classifying and Loading Ontology... (This may take a few seconds)</p>
				</div>	
	}
    	</div>

	</section>

	
}